<!DOCTYPE html>
<title>New Reference</title>
<h3>New Reference</h3>
<form action="/add" method="POST" enctype="multipart/form-data">
	Title:
	<input type="text" name="title" required>
	<br><br>
	Author:
	<input type="text" name="author">
	<br><br>
	Year:
	<input type="number" name="year">
	<br><br>
	Book title:
	<input type="text" name="booktitle">
	<br><br>
	Journal:
	<input type="text" name="Journal">
	<br><br>
	Publisher:
	<input type="text" name="Publisher">
	<br><br>
	Pages:
	<input type="number" name="first_page" size="8">
	&nbsp;
	&ndash;
	&nbsp;
	<input type="number" name="last_page" size="8">
</form>
